.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.navbar-light .navbar-text {
    color: #006A86;
    font-size: 2.5em;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #018EB4;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #006A86;
}
.sidebar-header h6{
    font-weight: bolder;
}
#sidebar ul.components {
    padding: 5px 0;
    margin-top: 0.3em;
    border-bottom: 1px solid #47748b;
    font-size: 1.2em;
    padding-left: 0.5em;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    /* background: #006A86; */
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #6d7fcc; */
}
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}
#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}
.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px; 
}

#sidebar {
    box-shadow: 0px 0px 5px 2px #6c757d !important;
    min-width: 250px;
    max-width: 250px;
    background: #018EB4;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}
@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
    it'll be rotated vertically and off canvas by default, 
    collapsing in on toggle button click with removal of 
    the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars: 
    Removing the rotation from the first,
    last bars and reappear the second bar on default state, 
    and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}
body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
    padding-bottom: 15px;
    background:#006A86;;
    color: #fff;
    padding: 13px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}

table.table tr th:first-child {
    width: 60px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}    
/* Custom checkbox */
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {    
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before{
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
    color: #3f6ad8;
    font-weight: 600;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}
#content {
    width: -webkit-fill-available;
}

/* Modal */
/* --------------- */
body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 15px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
    padding-bottom: 15px;
    background: #93c1dc;
    color: #fff;
    /* padding: 13px 30px; */
    padding: 8px 20px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 4vmin;
    color: #424141;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}


table.table tr td {
    border-color: #e9e9e9;
    padding: 5px 8px;
    vertical-align: middle;
    text-align: center;
}
table.table tr td:first-child{
    padding-left: 0px;
}
table.table tr td:last-child{
    text-align: center;
    padding-right: 0px;
}

table.table tr th{
    text-align: center;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
    padding-right: 10px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.table-text-center {
    text-align: center;
}

table.table-text-center tbody{
    font-family: -webkit-body;
}

@media screen and (max-width: 360px){
    .table-text-center th{
        font-size: 0.8em;
    }

    .table-text-center td{
        font-size: 0.7em;
    }

    .navbar-text{
        font-size: 1.5em !important;
    }

    .span-add{
        display: none !important;
    }
}

.table-text-center thead tr{
    background: #d4d2d2;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}    
/* Custom checkbox */
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {    
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before{
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}

.dashboard-custom{
    color: #006a86;
    margin-top: 7%;
}

.dashboard-custom h4{
    color: #999;
}

#alternative_modal textarea{
    resize: none;
}

.value-modal p{
    font-size: 1.3em;
    color: #656363;
}

.value-modal .note{
    color: red;
    font-weight: 600;
}

.clickable-row{
    cursor: pointer;
}

#btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #006a86;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #btn-top:hover {
    background-color: white;
    color: #006A86;
  }

  .dashboard-goal{
    background-color: #93c1dc;
    border-radius: 5px;
    padding: 10px;
  }

  .dashboard-goal h1, .dashboard-goal h3{
      /* font-weight: 600; */
      margin: 0px;
      color: #484747;
  }

  .dashboard-goal h3{
      font-size: 15px;
  }
  .dashboard-goal h1{
      font-size: 30px;
      font-weight: bolder;
    }
  .checkbox-primary{
      padding : 0 0 0 5px;
      margin-left: 15px;
      /* min-width: 200px; */
  }

  .checkbox-primary label{
      cursor: pointer;
  }

  .note{
      color: red;
  }

  #nav-alternative{
    color: #006a86;
    font-size: 15px;
  }
  
  .btn-logout{
    color: red !important;
    font-weight: bolder;
  }

  #alert-criteria{
      display: none;
  }

  table{
      counter-reset: rowNumber;
  }
  
  table tr > td:first-child{
      counter-increment: rowNumber ;
  }

  table tr td:first-child::before{
      content: counter(rowNumber);
      min-width: 1em;
      margin-right: 0.5em; 
  }

  /* //LOADER */
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #006a86;
    border-bottom: 16px solid #006a86;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    /* text-align: center; */
  }

  /**ALTERNATIVE DETAILS*/
  .card-details{
    /* background-color: gainsboro; */
    border-radius: 5px;
    padding: 8px;
    color: #3f6ad8;
  }

  .label-details{
      /* font-weight: bolder; */
      color: #686a6d;
  }

  .details-info{

  }

  .comment-label{
      font-size: 0.9em;
      color: #3f6ad8;
      font-weight: bolder;
  }
  .card{
    margin-bottom: 3px;
  }

  .card-body .float-right{
    color: #7f8384;
    font-size: 0.7em;
  }

  .card-body p, .comment-label{
      margin: 0px;
  }

  .card-body p{
      color: #353333;
  }

  #no-comments{
    padding: 10px;
    color: #7f8384;
    font-size: small;
  }

  .alternative-name{
      font-size: 1.4em;
      font-weight: bolder;
  }

  .goal-cal{
      font-size: 1.4em;
      font-weight: bold;
      padding-left: 13px;
  }


  /**------------------*/
  
  [type="checkbox"]{
      vertical-align:middle;
    } 

    .sidebar-header{
        -webkit-box-shadow: 0 4px 10px -4px black;
        -moz-box-shadow: 0 4px 10px -4px black;
             box-shadow: 0 4px 10px -4px black;
    }

    .mdc-layout-grid{
        padding-top: 0px !important;
    }

    .sycom-logo{
        max-height: 45px;
    }

    .vertical-nav-menu li a.mm-active{
        background: #93c1dc !important;
    }

    .vertical-nav-menu ul>li>a.mm-active{
        color: inherit !important;
    }
@media (max-width: 360px) {
    html {
        /* font-size: 70% ; */
    }
    
    #myDiv{
        /* padding-top: 3%; */
    }

    #sidebarCollapse{
        border-radius: 50%;
    }

    .container-fluid{
        padding: 2%;
    }

    .navbar-text{
        color: white;
    }

    #content .navbar-expand-lg{
        box-shadow: 1px 0px 1px 0px #006a86;
    }

    .table-title .btn i{
        float: none !important;
        margin-right: 0px !important;
    }

    #loader{
        width: 70px;
        height: 70px;
        margin: -40px 0px 0px -35px;
    }

    #sidebar{
        font-size: 3vw;
    }

    .dashboard-custom{
        font-size: 100% !important;
        margin-top: 30%;
    }

    .btn-logout{
        font-size: 3vw !important;
    }

    .sidebar-header h4{
        font-size: 5vw !important;
    }

    .sidebar-header h6{
        font-size: 4vw !important;
        font-weight: bolder;
    }

    .table-title .d-flex a{
        border-radius: 30px;
    }
    
    .modal-dialog{
        margin: 20% 10% 10% 10% !important;
    }

    .modal-body{
        padding: 5px 15px 5px 15px !important;
    }

    .modal-header{
        padding: 5px 15px 5px 15px !important;
    }

    .modal-footer{
        padding: 10px 15px 10px 15px !important;
    }

    .modal-title{
        font-size: 1.3em !important;
    }

    .value-modal p{
        font-size: 1em;
    }
}

.app-header-right .pe-7s-user{
    font-size: xx-large;
}

.app-sidebar__inner{
    padding-top: 10px !important;
}